<div class="media" id="root-comment-<%= comment.id %>">
  <a href="<%= user_path(comment.user) %>" class="pull-left">
    <%= gravatar_for comment.user, "avatar-comment" %>
  </a>
  <div class="media-body" id="comment-<%= comment.id %>">
    <h4 class="media-heading">
      <%= link_to comment.user.username, comment.user %>
      <small><%= t(".commented") + " " + time_ago_in_words(comment.created_at) +
        " " + t(".ago") %></small>
    </h4>
    <div id="content-<%= comment.id %>">
      <p><%= comment.content %></p>
    </div>
    <% if current_user? comment.user %>
      <%= link_to t(".edit")t, edit_comment_path(comment), remote: true %>
      <%= link_to t(".delete"), comment, method: :delete,
        data: {confirm: t("sure")}, remote: true %>
    <% end %>
  </div>
</div>
